In [82]:
# Add the Pandas Dependency
import pandas as pd
import os

In [83]:
#Load Files
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

In [84]:
# Read the school  data file and store as a dataframe
school_data_df = pd.read_csv(school_data_to_load)
school_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   School ID    15 non-null     int64
 1   school_name  15 non-null     object
 2   type         15 non-null     object
 3   size         15 non-null     int64
 4   budget       15 non-null     int64
dtypes: int64(3), object(2)
memory usage: 728.0+ bytes

In [85]:
# Read the student data file and store as a dataframe
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39170 entries, 0 to 39169
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
dtypes: int64(3), object(4)
memory usage: 2.1+ MB

In [86]:
# Determine if there are missing values in the dataframe
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [87]:
# Determine if there are missing values in the dataframe
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

## The isnull() method

In [88]:
# Determine if there are any missing values in the school data.
school_data_df.isnull()

    School ID  school_name   type   size  budget
0       False        False  False  False   False
1       False        False  False  False   False
2       False        False  False  False   False
3       False        False  False  False   False
4       False        False  False  False   False
5       False        False  False  False   False
6       False        False  False  False   False
7       False        False  False  False   False
8       False        False  False  False   False
9       False        False  False  False   False
10      False        False  False  False   False
11      False        False  False  False   False
12      False        False  False  False   False
13      False        False  False  False   False
14      False        False  False  False   False

In [89]:
# Determine if there are any missing values in the student data.
student_data_df.isnull()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
39165,False,False,False,False,False,False,False
39166,False,False,False,False,False,False,False
39167,False,False,False,False,False,False,False
39168,False,False,False,False,False,False,False
39169,False,False,False,False,False,False,False

In [90]:
# Get the suk of the empty rows
student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

## The notnull() Method

In [91]:
# Determine if there are not any missing values in the school data.
school_data_df.notnull().sum()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [92]:
# Determine if there are not any missing values in the student data.
student_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [93]:
# Getting the data type for the columns of the dataframe
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [94]:
# Finding the datatype of budget column in the school dataframe
school_data_df['budget'].dtype

dtype('int64')

In [95]:
# Determine data types for the student DataFrame.
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [96]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the "prefixes_suffixes" list and replace them with an empty space,  "" when it appears in the student's name.
for word in prefixes_suffixes:
    student_data_df['student_name'] = student_data_df['student_name'].str.replace(word,"")

student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

# Merging the Student and School Dataframe
## Using the school_name as the common column.

In [97]:
# Combine the data into a single dataset.
complete_school_data_df = pd.merge(student_data_df,school_data_df, on=['school_name', 'school_name'])
complete_school_data_df.info()
complete_school_data_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [98]:
# GETTING THE TOTAL NUMBER OF STUDENTS

student_count = complete_school_data_df['Student ID'].count()
student_count

39170

In [99]:
# GETTING THE TOTAL NUMBER OF SCHOOLS
school_count = len(complete_school_data_df['school_name'].unique())
school_count

15

In [100]:
# GETTING THE TOTAL BUDGET
total_budget = complete_school_data_df['budget'].unique().sum()
total_budget

24649428

In [101]:
# CALCULATE AVERAGE READING AND MATH SCORE
average_reading_score = complete_school_data_df['reading_score'].mean()
average_reading_score

81.87784018381414

In [102]:
# CALCULATE AVERAGE READING AND MATH SCORE
average_math_score = complete_school_data_df['math_score'].mean()
average_math_score

78.98537145774827

In [103]:
# GET THE PASSING GRADE FOR BOTH THE READING AND THE MATH SECTIONS
# PASSING GRADE IS 70 AND ABOVE
# DATAFRAMES OF THE MATH AND READING PASSING STUDENTS
passing_math = complete_school_data_df[complete_school_data_df['math_score'] >= 70]
passing_reading = complete_school_data_df[complete_school_data_df['reading_score'] >= 70]

# MATH AND READING PASSING COUNTING
passing_math_count = passing_math['math_score'].count()
passing_reading_count = passing_reading['reading_score'].count()
print(passing_math_count, passing_reading_count)

29370 33610

In [104]:
# Calculate the percent that passed math.
math_percentage_passed = passing_math_count/student_count * 100

# Calculate the percent that passed reading.
reading_percentage_passed = passing_reading_count/student_count *100

print(math_percentage_passed, reading_percentage_passed)

74.9808526933878 85.80546336482001

In [105]:
# Calculate the students who passed both math and reading.
passing_math_reading = complete_school_data_df[(complete_school_data_df['math_score'] >=70) &(complete_school_data_df['reading_score'] >=70)]

# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

25528

In [106]:
# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

65.17232575950983

In [107]:
district_summary_df = pd.DataFrame([{
    'Total Schools':school_count,
    'Total Students': student_count,
    'Total Budget':total_budget,
    'Average Math Score':average_math_score,
    'Average Reading Score':average_reading_score,
    '% Passing Math':math_percentage_passed,
    '% Passing Reading':reading_percentage_passed,
    '% Overall Passing':overall_passing_percentage
}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [108]:
district_summary_df['Total Students'] = district_summary_df['Total Students'].map('{:,}'.format)
district_summary_df['Total Students']

0    39,170
Name: Total Students, dtype: object

In [109]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [110]:
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [111]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]
# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [112]:
# Determine the school type
per_school_types = school_data_df.set_index(['school_name'])['type']
per_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [113]:
df = pd.DataFrame(per_school_types)
df

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [114]:
# Calculate the total student count
per_school_counts = school_data_df.set_index(['school_name'])['size']
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [115]:
#Total Number of student counts per high school
per_school_counts = student_data_df['school_name'].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [116]:
# Calculate total budget per school
per_school_budget = school_data_df.set_index('school_name')['budget']
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [117]:
# Calculate per capital spending
per_school_capita = per_school_budget/per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [118]:
# Calculate the average test scores
per_school_math = student_data_df.groupby('school_name')['math_score'].mean()
per_school_reading = student_data_df.groupby('school_name')['reading_score'].mean()

In [119]:
# Calculate the passing scores by creating a filtered DataFrame.
school_passing_math = passing_math.groupby('school_name')['math_score'].count()
school_passing_reading = passing_reading.groupby('school_name')['reading_score'].count()

In [120]:
# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = school_passing_math/per_school_counts * 100
per_school_passing_reading = school_passing_reading/per_school_counts * 100
per_school_passing_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [121]:
print(f'Math Count Passed : {passing_math_count}')
print(f'Reading Count Passed: {passing_reading_count}')
print(f'Math and Reading Combined Pass: {overall_passing_math_reading_count}')

Math Count Passed : 29370
Reading Count Passed: 33610
Math and Reading Combined Pass: 25528

In [122]:
# Calculate the students who passed both math and reading.
school_passing_math_reading = passing_math_reading.groupby('school_name').count()['student_name']
school_passing_math_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64

In [123]:
# Calculate the overall passing percentage.
per_school_passing_math_reading = school_passing_math_reading/per_school_counts * 100
per_school_passing_math_reading

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [124]:
per_school_summary_df = pd.DataFrame({
    'School Type':per_school_types,
    'Total Students':per_school_counts.map('{:,}'.format),
    'Total School Budget':per_school_budget.map('${:,.2f}'.format),
    'Per Student Budget':per_school_capita.map('${:,.2f}'.format),
    'Average Math Score':per_school_math.map('{:.2f}'.format),
    'Average Reading Score':per_school_reading.map('{:.2f}'.format),
    '% Passing Math':per_school_passing_math.map('{:.2f}%'.format),
    '% Passing Reading':per_school_passing_reading.map('{:.2f}%'.format),
    '% Overall Passing':per_school_passing_math_reading.map('{:.2f}%'.format)
})
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

In [125]:
#Highest Performing School
top_schools = per_school_summary_df.sort_values(['% Overall Passing'],ascending=False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

In [126]:
# Lowest Performing Schools
bottom_schools = per_school_summary_df.sort_values(['% Overall Passing'],ascending=True)
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

In [127]:
complete_school_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [135]:
# Creating the grade dataframes
ninth_graders = complete_school_data_df[complete_school_data_df['grade'] == '9th']
tenth_graders = complete_school_data_df[complete_school_data_df['grade'] == '10th']
eleventh_graders = complete_school_data_df[complete_school_data_df['grade'] == '11th']
twelfth_graders = complete_school_data_df[complete_school_data_df['grade'] == '12th']
ninth_graders

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130

In [146]:
# Average Math grade for the different grade levels
ninth_graders_math_scores = ninth_graders.groupby(['school_name']).mean()['math_score'].map('{:.1f}'.format)
tenth_graders_math_scores = tenth_graders.groupby(['school_name']).mean()['math_score'].map('{:.1f}'.format)
eleventh_graders_math_scores = eleventh_graders.groupby(['school_name']).mean()['math_score'].map('{:.1f}'.format)
twelfth_graders_math_scores = twelfth_graders.groupby(['school_name']).mean()['math_score'].map('{:.1f}'.format)
eleventh_graders_math_scores

school_name
Bailey High School       77.5
Cabrera High School      82.8
Figueroa High School     76.9
Ford High School         76.9
Griffin High School      83.8
Hernandez High School    77.1
Holden High School       85.0
Huang High School        76.4
Johnson High School      77.5
Pena High School         84.3
Rodriguez High School    76.4
Shelton High School      83.4
Thomas High School       83.5
Wilson High School       83.2
Wright High School       83.8
Name: math_score, dtype: object

In [147]:
ninth_graders_reading_scores = ninth_graders.groupby(['school_name']).mean()['reading_score'].map('{:.1f}'.format)
tenth_graders_reading_scores = tenth_graders.groupby(['school_name']).mean()['reading_score'].map('{:.1f}'.format)
eleventh_graders_reading_scores = eleventh_graders.groupby(['school_name']).mean()['reading_score'].map('{:.1f}'.format)
twelfth_graders_reading_scores = twelfth_graders.groupby(['school_name']).mean()['reading_score'].map('{:.1f}'.format)
twelfth_graders_reading_scores

school_name
Bailey High School       80.9
Cabrera High School      84.3
Figueroa High School     81.4
Ford High School         80.7
Griffin High School      84.0
Hernandez High School    80.9
Holden High School       84.7
Huang High School        80.3
Johnson High School      81.2
Pena High School         84.6
Rodriguez High School    80.4
Shelton High School      82.8
Thomas High School       83.8
Wilson High School       84.3
Wright High School       84.1
Name: reading_score, dtype: object

In [148]:
# Math score by grade dataframe
math_score_by_grade = pd.DataFrame({
    '9th': ninth_graders_math_scores,
    '10th':tenth_graders_math_scores ,
    '11th':eleventh_graders_math_scores,
    '12th':twelfth_graders_math_scores
})
math_score_by_grade.head()

                       9th  10th  11th  12th
school_name
Bailey High School    77.1  77.0  77.5  76.5
Cabrera High School   83.1  83.2  82.8  83.3
Figueroa High School  76.4  76.5  76.9  77.2
Ford High School      77.4  77.7  76.9  76.2
Griffin High School   82.0  84.2  83.8  83.4

In [149]:
# Reading score by grade dataframe
reading_score_by_grade = pd.DataFrame({
    '9th': ninth_graders_reading_scores,
    '10th':tenth_graders_reading_scores ,
    '11th':eleventh_graders_reading_scores,
    '12th':twelfth_graders_reading_scores
})
reading_score_by_grade.head()

                       9th  10th  11th  12th
school_name
Bailey High School    81.3  80.9  80.9  80.9
Cabrera High School   83.7  84.3  83.8  84.3
Figueroa High School  81.2  81.4  80.6  81.4
Ford High School      80.6  81.3  80.4  80.7
Griffin High School   83.4  83.7  84.3  84.0